<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="stylesheet" href="/aboutstyle.css" />
</head>

<body>
 
    <div class="textcontainer">
      <div class="perspective-text">
        <div class="perspective-line">
          <p></p>
          <p>Dwayne</p>
        </div>
        <div class="perspective-line">
          <p>Dwayne</p>
          <p>Douglas</p>
        </div>
        <div class="perspective-line">
          <p>Douglas</p>
          <p>Johnson</p>
        </div>
        <div class="perspective-line">
          <p>Johnson</p>
          <p>"The Rock"</p>
        </div>
        <div class="perspective-line">
          <p>"The Rock"</p>
          <p></p>
        </div>
      </div>
    </div>
    
    <div class="containerimg"><div id="styleimg">
    </div></div>


    <div class="fillcontainer">
      <h1 class="home-title">
        <span>Dwayne Johnson is an American-Canadian actor, producer, businessman, former football player,
           and former professional wrestler. Widely regarded as one of the greatest 
           professional wrestlers of all time, he was integral to the development 
           and success of the WWE during the Attitude Era, an industry boom period in the 
           late 1990s and early 2000s.</span>
        <span>Johnson wrestled for WWF/E for eight years prior to 
          pursuing an acting career. His films have grossed over $3.5 billion in North 
          America and over $10.5 billion worldwide, 
         making him one of the world's highest-grossing and highest-paid actors.</span>
      </h1>
    </div>

  <div class="wrapper">
    <div class="link_wrapper">
      <a href="/">Back To Home Page</a>
      <div class="icon">
      </div>
    </div>
  </div>
</body>

</html>