<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Rock</title>
  <link rel="stylesheet" href="/homestyle.css" />
</head>

<body>
  <div class="h1div"><h1>Welcome to<br>The Rock fan page<br><spam>⚡</spam>
  </h1></div>

  <div class="info"><p id="infoid">For more information about Dwayne Johnson</p></div>
  <div class="info"><p id="workid">To see his work</p></div> 

  <div class="container"><a id="press1" class="btn"href="/about">press here</a> 
    <a id="press2" class="btn"href="/works">press here</a></div>
 
</body>

</html>